@model TuFicha.Models.ProfesionalSalud

@{
    ViewBag.Title = "Delete";
}

<h2>Borrar</h2>

<h3>¿Está seguro de realizar esta acción?</h3>
<div>
    <h4>Profesional Salud</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pro_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pro_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pro_Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pro_Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pro_RUT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pro_RUT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pro_Profesion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pro_Profesion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Especialidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especialidad)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index",null, new { @class = "btn btn-default"})
        </div>
    }
</div>
