@model IEnumerable<TuFicha.Models.UserDocumento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Documentos.Doc_Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Documentos.Doc_Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdUserDocumento }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdUserDocumento }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdUserDocumento })
        </td>
    </tr>
}

</table>
